.cards {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 1fr 1fr 1fr;
}

.card {
  background-color: #2B2861;
  color: white;
  border-radius: 10px;
  transition: 0.3s;
}

.card:hover {
  box-shadow: 1px 1px 8px #4A46A9;
}

.card-btn {
  display: block;
  text-align: center;
  color: #0BF1CD;
  transition: 0.3s;
}

.card-btn:hover {
  text-decoration: none;
  animation: glow;
  color: #0BF1CD;
  text-shadow: 1px 1px 8px #0BF1CD;
}
